name: Maven Release Build

on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'The tag to build'
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ inputs.tag }}

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven
          server-id: hampelratte-releases
          server-username: 'MAVEN_REPO_USERNAME'
          server-password: 'MAVEN_REPO_PASSWORD'

      - name: Build with Maven
        run: mvn -B deploy
        env:
          MAVEN_REPO_USERNAME: ${{ secrets.MAVEN_REPO_USERNAME }}
          MAVEN_REPO_PASSWORD: ${{ secrets.MAVEN_REPO_PASSWORD }}

